{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <div class="card border-0 shadow-lg rounded-4">

                <div class="card-body p-5">

                    <h2 class="text-center mb-4">
                        Share Your Skill
                    </h2>

                    <form method="POST">

                        {% csrf_token %}

                        <input type="text"
                               name="skill_have"
                               class="form-control mb-3"
                               placeholder="Skill You Can Teach">

                        <input type="text"
                               name="skill_want"
                               class="form-control mb-3"
                               placeholder="Skill You Want To Learn">

                        <textarea
                            name="description"
                            rows="5"
                            class="form-control mb-4"
                            placeholder="Describe your skill">
                        </textarea>

                        <button class="btn btn-success w-100">
                            Add Skill
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}