{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-lg-8">

<div class="card shadow-lg border-0 rounded-4">

<div class="card-body p-5">

<div class="text-center mb-4">

<h2 style="color:#73004B;font-weight:bold;">
Share Your Skill
</h2>

<p style="color:#555;">
Teach what you know and learn something new.
</p>

</div>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label class="fw-bold">
Skill You Can Teach
</label>

<input
type="text"
name="skill_have"
class="form-control"
placeholder="Python, Photoshop..."
required>

</div>

<div class="mb-3">

<label class="fw-bold">
Skill You Want to Learn
</label>

<input
type="text"
name="skill_want"
class="form-control"
placeholder="UI Design, Java..."
required>

</div>

<div class="mb-4">

<label class="fw-bold">
Description
</label>

<textarea
name="description"
rows="5"
class="form-control"
required></textarea>

</div>

<button
class="btn text-white w-100"
style="background:#73004B;">

Add Skill

</button>

</form>

</div>

</div>

</div>

</div>

</div>

{% endblock %}