{% extends 'base.html' %}

{% block content %}

<style>

.chat-card{
    border:none;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.chat-header{
    background:#66023c;
    color:white;
    border-radius:18px 18px 0 0;
}

.chat-body{
    height:500px;
    overflow-y:auto;
    background:#fafafa;
    padding:20px;
}

.my-message{
    background:#66023c;
    color:white;
    border-radius:15px 15px 0px 15px;
    padding:12px 18px;
    display:inline-block;
    max-width:70%;
}

.other-message{
    background:#cad183;
    color:#222;
    border-radius:15px 15px 15px 0px;
    padding:12px 18px;
    display:inline-block;
    max-width:70%;
}

.send-btn{
    background:#66023c;
    color:white;
    border:none;
}

.send-btn:hover{
    background:#cad183;
    color:#222;
}

.form-control{
    border:2px solid #cad183;
}

.form-control:focus{
    border-color:#66023c;
    box-shadow:none;
}

</style>

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-lg-8">

<div class="chat-card card">

<div class="card-header chat-header">

<h3>💬 Swap Chat</h3>

{% if request.user == swap.sender %}

<small>
Chat with <b>{{ swap.receiver.username }}</b>
</small>

{% else %}

<small>
Chat with <b>{{ swap.sender.username }}</b>
</small>

{% endif %}

</div>

<div class="chat-body">

{% for msg in messages %}

{% if msg.sender == request.user %}

<div class="text-end mb-3">

<div class="my-message">

{{ msg.message }}

</div>

<br>

<small class="text-muted">

You • {{ msg.created_at|date:"h:i A" }}

</small>

</div>

{% else %}

<div class="text-start mb-3">

<div class="other-message">

{{ msg.message }}

</div>

<br>

<small class="text-muted">

{{ msg.sender.username }} • {{ msg.created_at|date:"h:i A" }}

</small>

</div>

{% endif %}

{% empty %}

<div class="text-center text-muted mt-5">

<h5>No messages yet</h5>

<p>Start your skill swap conversation.</p>

</div>

{% endfor %}

</div>

<div class="card-footer bg-white">

<form method="POST">

{% csrf_token %}

<div class="input-group">

<input
type="text"
name="message"
class="form-control"
placeholder="Type your message..."
required>

<button class="btn send-btn">

Send

</button>

</div>

</form>

</div>

</div>

</div>

</div>

</div>
<script>
const chatBody = document.getElementById("chat-body");

if(chatBody){
    chatBody.scrollTop = chatBody.scrollHeight;
}
</script>



{% endblock %}