{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card border-0 shadow-lg rounded-4">

                <div class="card-body p-5">

                    <h2 class="text-center mb-4">
                        Welcome Back
                    </h2>

                    <form method="POST">
                        {% csrf_token %}

                        <input type="text"
                               name="username"
                               class="form-control mb-3"
                               placeholder="Username">

                        <input type="password"
                               name="password"
                               class="form-control mb-4"
                               placeholder="Password">

                        <button class="btn btn-dark w-100">
                            Login
                        </button>

                    </form>

                    <p class="text-center mt-3">
                        Don't have an account?
                        <a href="/register/">Register</a>
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}